html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body:before {
  background-image: -webkit-linear-gradient(left, transparent 0, #eee 0, #eee 6.7796610169%, transparent 6.7796610169%, transparent 8.4745762712%, #eee 8.4745762712%, #eee 15.2542372881%, transparent 15.2542372881%, transparent 16.9491525424%, #eee 16.9491525424%, #eee 23.7288135593%, transparent 23.7288135593%, transparent 25.4237288136%, #eee 25.4237288136%, #eee 32.2033898305%, transparent 32.2033898305%, transparent 33.8983050847%, #eee 33.8983050847%, #eee 40.6779661017%, transparent 40.6779661017%, transparent 42.3728813559%, #eee 42.3728813559%, #eee 49.1525423729%, transparent 49.1525423729%, transparent 50.8474576271%, #eee 50.8474576271%, #eee 57.6271186441%, transparent 57.6271186441%, transparent 59.3220338983%, #eee 59.3220338983%, #eee 66.1016949153%, transparent 66.1016949153%, transparent 67.7966101695%, #eee 67.7966101695%, #eee 74.5762711864%, transparent 74.5762711864%, transparent 76.2711864407%, #eee 76.2711864407%, #eee 83.0508474576%, transparent 83.0508474576%, transparent 84.7457627119%, #eee 84.7457627119%, #eee 91.5254237288%, transparent 91.5254237288%, transparent 93.2203389831%, #eee 93.2203389831%, #eee 100%, transparent 100%);
  background-image: -moz-linear-gradient(left, transparent 0, #eee 0, #eee 6.7796610169%, transparent 6.7796610169%, transparent 8.4745762712%, #eee 8.4745762712%, #eee 15.2542372881%, transparent 15.2542372881%, transparent 16.9491525424%, #eee 16.9491525424%, #eee 23.7288135593%, transparent 23.7288135593%, transparent 25.4237288136%, #eee 25.4237288136%, #eee 32.2033898305%, transparent 32.2033898305%, transparent 33.8983050847%, #eee 33.8983050847%, #eee 40.6779661017%, transparent 40.6779661017%, transparent 42.3728813559%, #eee 42.3728813559%, #eee 49.1525423729%, transparent 49.1525423729%, transparent 50.8474576271%, #eee 50.8474576271%, #eee 57.6271186441%, transparent 57.6271186441%, transparent 59.3220338983%, #eee 59.3220338983%, #eee 66.1016949153%, transparent 66.1016949153%, transparent 67.7966101695%, #eee 67.7966101695%, #eee 74.5762711864%, transparent 74.5762711864%, transparent 76.2711864407%, #eee 76.2711864407%, #eee 83.0508474576%, transparent 83.0508474576%, transparent 84.7457627119%, #eee 84.7457627119%, #eee 91.5254237288%, transparent 91.5254237288%, transparent 93.2203389831%, #eee 93.2203389831%, #eee 100%, transparent 100%);
  background-image: -ms-linear-gradient(left, transparent 0, #eee 0, #eee 6.7796610169%, transparent 6.7796610169%, transparent 8.4745762712%, #eee 8.4745762712%, #eee 15.2542372881%, transparent 15.2542372881%, transparent 16.9491525424%, #eee 16.9491525424%, #eee 23.7288135593%, transparent 23.7288135593%, transparent 25.4237288136%, #eee 25.4237288136%, #eee 32.2033898305%, transparent 32.2033898305%, transparent 33.8983050847%, #eee 33.8983050847%, #eee 40.6779661017%, transparent 40.6779661017%, transparent 42.3728813559%, #eee 42.3728813559%, #eee 49.1525423729%, transparent 49.1525423729%, transparent 50.8474576271%, #eee 50.8474576271%, #eee 57.6271186441%, transparent 57.6271186441%, transparent 59.3220338983%, #eee 59.3220338983%, #eee 66.1016949153%, transparent 66.1016949153%, transparent 67.7966101695%, #eee 67.7966101695%, #eee 74.5762711864%, transparent 74.5762711864%, transparent 76.2711864407%, #eee 76.2711864407%, #eee 83.0508474576%, transparent 83.0508474576%, transparent 84.7457627119%, #eee 84.7457627119%, #eee 91.5254237288%, transparent 91.5254237288%, transparent 93.2203389831%, #eee 93.2203389831%, #eee 100%, transparent 100%);
  background-image: -o-linear-gradient(left, transparent 0, #eee 0, #eee 6.7796610169%, transparent 6.7796610169%, transparent 8.4745762712%, #eee 8.4745762712%, #eee 15.2542372881%, transparent 15.2542372881%, transparent 16.9491525424%, #eee 16.9491525424%, #eee 23.7288135593%, transparent 23.7288135593%, transparent 25.4237288136%, #eee 25.4237288136%, #eee 32.2033898305%, transparent 32.2033898305%, transparent 33.8983050847%, #eee 33.8983050847%, #eee 40.6779661017%, transparent 40.6779661017%, transparent 42.3728813559%, #eee 42.3728813559%, #eee 49.1525423729%, transparent 49.1525423729%, transparent 50.8474576271%, #eee 50.8474576271%, #eee 57.6271186441%, transparent 57.6271186441%, transparent 59.3220338983%, #eee 59.3220338983%, #eee 66.1016949153%, transparent 66.1016949153%, transparent 67.7966101695%, #eee 67.7966101695%, #eee 74.5762711864%, transparent 74.5762711864%, transparent 76.2711864407%, #eee 76.2711864407%, #eee 83.0508474576%, transparent 83.0508474576%, transparent 84.7457627119%, #eee 84.7457627119%, #eee 91.5254237288%, transparent 91.5254237288%, transparent 93.2203389831%, #eee 93.2203389831%, #eee 100%, transparent 100%);
  background-image: linear-gradient(to left, transparent 0, #eee 0, #eee 6.7796610169%, transparent 6.7796610169%, transparent 8.4745762712%, #eee 8.4745762712%, #eee 15.2542372881%, transparent 15.2542372881%, transparent 16.9491525424%, #eee 16.9491525424%, #eee 23.7288135593%, transparent 23.7288135593%, transparent 25.4237288136%, #eee 25.4237288136%, #eee 32.2033898305%, transparent 32.2033898305%, transparent 33.8983050847%, #eee 33.8983050847%, #eee 40.6779661017%, transparent 40.6779661017%, transparent 42.3728813559%, #eee 42.3728813559%, #eee 49.1525423729%, transparent 49.1525423729%, transparent 50.8474576271%, #eee 50.8474576271%, #eee 57.6271186441%, transparent 57.6271186441%, transparent 59.3220338983%, #eee 59.3220338983%, #eee 66.1016949153%, transparent 66.1016949153%, transparent 67.7966101695%, #eee 67.7966101695%, #eee 74.5762711864%, transparent 74.5762711864%, transparent 76.2711864407%, #eee 76.2711864407%, #eee 83.0508474576%, transparent 83.0508474576%, transparent 84.7457627119%, #eee 84.7457627119%, #eee 91.5254237288%, transparent 91.5254237288%, transparent 93.2203389831%, #eee 93.2203389831%, #eee 100%, transparent 100%);
  content: "";
  display: inline-block;
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-width: 75em;
  opacity: 0.4;
  pointer-events: none;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: -1; }
  @media screen and (min-device-width: 320px) and (max-device-width: 640px) {
    body:before {
      background-image: -webkit-linear-gradient(left, transparent 0, #eee 0, #eee 21.0526315789%, transparent 21.0526315789%, transparent 26.3157894737%, #eee 26.3157894737%, #eee 47.3684210526%, transparent 47.3684210526%, transparent 52.6315789474%, #eee 52.6315789474%, #eee 73.6842105263%, transparent 73.6842105263%, transparent 78.9473684211%, #eee 78.9473684211%, #eee 100%, transparent 100%);
      background-image: -moz-linear-gradient(left, transparent 0, #eee 0, #eee 21.0526315789%, transparent 21.0526315789%, transparent 26.3157894737%, #eee 26.3157894737%, #eee 47.3684210526%, transparent 47.3684210526%, transparent 52.6315789474%, #eee 52.6315789474%, #eee 73.6842105263%, transparent 73.6842105263%, transparent 78.9473684211%, #eee 78.9473684211%, #eee 100%, transparent 100%);
      background-image: -ms-linear-gradient(left, transparent 0, #eee 0, #eee 21.0526315789%, transparent 21.0526315789%, transparent 26.3157894737%, #eee 26.3157894737%, #eee 47.3684210526%, transparent 47.3684210526%, transparent 52.6315789474%, #eee 52.6315789474%, #eee 73.6842105263%, transparent 73.6842105263%, transparent 78.9473684211%, #eee 78.9473684211%, #eee 100%, transparent 100%);
      background-image: -o-linear-gradient(left, transparent 0, #eee 0, #eee 21.0526315789%, transparent 21.0526315789%, transparent 26.3157894737%, #eee 26.3157894737%, #eee 47.3684210526%, transparent 47.3684210526%, transparent 52.6315789474%, #eee 52.6315789474%, #eee 73.6842105263%, transparent 73.6842105263%, transparent 78.9473684211%, #eee 78.9473684211%, #eee 100%, transparent 100%);
      background-image: linear-gradient(to left, transparent 0, #eee 0, #eee 21.0526315789%, transparent 21.0526315789%, transparent 26.3157894737%, #eee 26.3157894737%, #eee 47.3684210526%, transparent 47.3684210526%, transparent 52.6315789474%, #eee 52.6315789474%, #eee 73.6842105263%, transparent 73.6842105263%, transparent 78.9473684211%, #eee 78.9473684211%, #eee 100%, transparent 100%); } }
  @media screen and (min-device-width: 320px) and (max-device-width: 640px) and (orientation: landscape) {
    body:before {
      background-image: -webkit-linear-gradient(left, transparent 0, #eee 0, #eee 13.7931034483%, transparent 13.7931034483%, transparent 17.2413793103%, #eee 17.2413793103%, #eee 31.0344827586%, transparent 31.0344827586%, transparent 34.4827586207%, #eee 34.4827586207%, #eee 48.275862069%, transparent 48.275862069%, transparent 51.724137931%, #eee 51.724137931%, #eee 65.5172413793%, transparent 65.5172413793%, transparent 68.9655172414%, #eee 68.9655172414%, #eee 82.7586206897%, transparent 82.7586206897%, transparent 86.2068965517%, #eee 86.2068965517%, #eee 100%, transparent 100%);
      background-image: -moz-linear-gradient(left, transparent 0, #eee 0, #eee 13.7931034483%, transparent 13.7931034483%, transparent 17.2413793103%, #eee 17.2413793103%, #eee 31.0344827586%, transparent 31.0344827586%, transparent 34.4827586207%, #eee 34.4827586207%, #eee 48.275862069%, transparent 48.275862069%, transparent 51.724137931%, #eee 51.724137931%, #eee 65.5172413793%, transparent 65.5172413793%, transparent 68.9655172414%, #eee 68.9655172414%, #eee 82.7586206897%, transparent 82.7586206897%, transparent 86.2068965517%, #eee 86.2068965517%, #eee 100%, transparent 100%);
      background-image: -ms-linear-gradient(left, transparent 0, #eee 0, #eee 13.7931034483%, transparent 13.7931034483%, transparent 17.2413793103%, #eee 17.2413793103%, #eee 31.0344827586%, transparent 31.0344827586%, transparent 34.4827586207%, #eee 34.4827586207%, #eee 48.275862069%, transparent 48.275862069%, transparent 51.724137931%, #eee 51.724137931%, #eee 65.5172413793%, transparent 65.5172413793%, transparent 68.9655172414%, #eee 68.9655172414%, #eee 82.7586206897%, transparent 82.7586206897%, transparent 86.2068965517%, #eee 86.2068965517%, #eee 100%, transparent 100%);
      background-image: -o-linear-gradient(left, transparent 0, #eee 0, #eee 13.7931034483%, transparent 13.7931034483%, transparent 17.2413793103%, #eee 17.2413793103%, #eee 31.0344827586%, transparent 31.0344827586%, transparent 34.4827586207%, #eee 34.4827586207%, #eee 48.275862069%, transparent 48.275862069%, transparent 51.724137931%, #eee 51.724137931%, #eee 65.5172413793%, transparent 65.5172413793%, transparent 68.9655172414%, #eee 68.9655172414%, #eee 82.7586206897%, transparent 82.7586206897%, transparent 86.2068965517%, #eee 86.2068965517%, #eee 100%, transparent 100%);
      background-image: linear-gradient(to left, transparent 0, #eee 0, #eee 13.7931034483%, transparent 13.7931034483%, transparent 17.2413793103%, #eee 17.2413793103%, #eee 31.0344827586%, transparent 31.0344827586%, transparent 34.4827586207%, #eee 34.4827586207%, #eee 48.275862069%, transparent 48.275862069%, transparent 51.724137931%, #eee 51.724137931%, #eee 65.5172413793%, transparent 65.5172413793%, transparent 68.9655172414%, #eee 68.9655172414%, #eee 82.7586206897%, transparent 82.7586206897%, transparent 86.2068965517%, #eee 86.2068965517%, #eee 100%, transparent 100%); } }
  @media screen and (min-device-width: 641px) and (max-device-width: 1024px) {
    body:before {
      background-image: -webkit-linear-gradient(left, transparent 0, #eee 0, #eee 6.7796610169%, transparent 6.7796610169%, transparent 8.4745762712%, #eee 8.4745762712%, #eee 15.2542372881%, transparent 15.2542372881%, transparent 16.9491525424%, #eee 16.9491525424%, #eee 23.7288135593%, transparent 23.7288135593%, transparent 25.4237288136%, #eee 25.4237288136%, #eee 32.2033898305%, transparent 32.2033898305%, transparent 33.8983050847%, #eee 33.8983050847%, #eee 40.6779661017%, transparent 40.6779661017%, transparent 42.3728813559%, #eee 42.3728813559%, #eee 49.1525423729%, transparent 49.1525423729%, transparent 50.8474576271%, #eee 50.8474576271%, #eee 57.6271186441%, transparent 57.6271186441%, transparent 59.3220338983%, #eee 59.3220338983%, #eee 66.1016949153%, transparent 66.1016949153%, transparent 67.7966101695%, #eee 67.7966101695%, #eee 74.5762711864%, transparent 74.5762711864%, transparent 76.2711864407%, #eee 76.2711864407%, #eee 83.0508474576%, transparent 83.0508474576%, transparent 84.7457627119%, #eee 84.7457627119%, #eee 91.5254237288%, transparent 91.5254237288%, transparent 93.2203389831%, #eee 93.2203389831%, #eee 100%, transparent 100%);
      background-image: -moz-linear-gradient(left, transparent 0, #eee 0, #eee 6.7796610169%, transparent 6.7796610169%, transparent 8.4745762712%, #eee 8.4745762712%, #eee 15.2542372881%, transparent 15.2542372881%, transparent 16.9491525424%, #eee 16.9491525424%, #eee 23.7288135593%, transparent 23.7288135593%, transparent 25.4237288136%, #eee 25.4237288136%, #eee 32.2033898305%, transparent 32.2033898305%, transparent 33.8983050847%, #eee 33.8983050847%, #eee 40.6779661017%, transparent 40.6779661017%, transparent 42.3728813559%, #eee 42.3728813559%, #eee 49.1525423729%, transparent 49.1525423729%, transparent 50.8474576271%, #eee 50.8474576271%, #eee 57.6271186441%, transparent 57.6271186441%, transparent 59.3220338983%, #eee 59.3220338983%, #eee 66.1016949153%, transparent 66.1016949153%, transparent 67.7966101695%, #eee 67.7966101695%, #eee 74.5762711864%, transparent 74.5762711864%, transparent 76.2711864407%, #eee 76.2711864407%, #eee 83.0508474576%, transparent 83.0508474576%, transparent 84.7457627119%, #eee 84.7457627119%, #eee 91.5254237288%, transparent 91.5254237288%, transparent 93.2203389831%, #eee 93.2203389831%, #eee 100%, transparent 100%);
      background-image: -ms-linear-gradient(left, transparent 0, #eee 0, #eee 6.7796610169%, transparent 6.7796610169%, transparent 8.4745762712%, #eee 8.4745762712%, #eee 15.2542372881%, transparent 15.2542372881%, transparent 16.9491525424%, #eee 16.9491525424%, #eee 23.7288135593%, transparent 23.7288135593%, transparent 25.4237288136%, #eee 25.4237288136%, #eee 32.2033898305%, transparent 32.2033898305%, transparent 33.8983050847%, #eee 33.8983050847%, #eee 40.6779661017%, transparent 40.6779661017%, transparent 42.3728813559%, #eee 42.3728813559%, #eee 49.1525423729%, transparent 49.1525423729%, transparent 50.8474576271%, #eee 50.8474576271%, #eee 57.6271186441%, transparent 57.6271186441%, transparent 59.3220338983%, #eee 59.3220338983%, #eee 66.1016949153%, transparent 66.1016949153%, transparent 67.7966101695%, #eee 67.7966101695%, #eee 74.5762711864%, transparent 74.5762711864%, transparent 76.2711864407%, #eee 76.2711864407%, #eee 83.0508474576%, transparent 83.0508474576%, transparent 84.7457627119%, #eee 84.7457627119%, #eee 91.5254237288%, transparent 91.5254237288%, transparent 93.2203389831%, #eee 93.2203389831%, #eee 100%, transparent 100%);
      background-image: -o-linear-gradient(left, transparent 0, #eee 0, #eee 6.7796610169%, transparent 6.7796610169%, transparent 8.4745762712%, #eee 8.4745762712%, #eee 15.2542372881%, transparent 15.2542372881%, transparent 16.9491525424%, #eee 16.9491525424%, #eee 23.7288135593%, transparent 23.7288135593%, transparent 25.4237288136%, #eee 25.4237288136%, #eee 32.2033898305%, transparent 32.2033898305%, transparent 33.8983050847%, #eee 33.8983050847%, #eee 40.6779661017%, transparent 40.6779661017%, transparent 42.3728813559%, #eee 42.3728813559%, #eee 49.1525423729%, transparent 49.1525423729%, transparent 50.8474576271%, #eee 50.8474576271%, #eee 57.6271186441%, transparent 57.6271186441%, transparent 59.3220338983%, #eee 59.3220338983%, #eee 66.1016949153%, transparent 66.1016949153%, transparent 67.7966101695%, #eee 67.7966101695%, #eee 74.5762711864%, transparent 74.5762711864%, transparent 76.2711864407%, #eee 76.2711864407%, #eee 83.0508474576%, transparent 83.0508474576%, transparent 84.7457627119%, #eee 84.7457627119%, #eee 91.5254237288%, transparent 91.5254237288%, transparent 93.2203389831%, #eee 93.2203389831%, #eee 100%, transparent 100%);
      background-image: linear-gradient(to left, transparent 0, #eee 0, #eee 6.7796610169%, transparent 6.7796610169%, transparent 8.4745762712%, #eee 8.4745762712%, #eee 15.2542372881%, transparent 15.2542372881%, transparent 16.9491525424%, #eee 16.9491525424%, #eee 23.7288135593%, transparent 23.7288135593%, transparent 25.4237288136%, #eee 25.4237288136%, #eee 32.2033898305%, transparent 32.2033898305%, transparent 33.8983050847%, #eee 33.8983050847%, #eee 40.6779661017%, transparent 40.6779661017%, transparent 42.3728813559%, #eee 42.3728813559%, #eee 49.1525423729%, transparent 49.1525423729%, transparent 50.8474576271%, #eee 50.8474576271%, #eee 57.6271186441%, transparent 57.6271186441%, transparent 59.3220338983%, #eee 59.3220338983%, #eee 66.1016949153%, transparent 66.1016949153%, transparent 67.7966101695%, #eee 67.7966101695%, #eee 74.5762711864%, transparent 74.5762711864%, transparent 76.2711864407%, #eee 76.2711864407%, #eee 83.0508474576%, transparent 83.0508474576%, transparent 84.7457627119%, #eee 84.7457627119%, #eee 91.5254237288%, transparent 91.5254237288%, transparent 93.2203389831%, #eee 93.2203389831%, #eee 100%, transparent 100%); } }
  @media screen and (min-device-width: 641px) and (max-device-width: 1024px) and (orientation: landscape) {
    body:before {
      background-image: -webkit-linear-gradient(left, transparent 0, #eee 0, #eee 6.7796610169%, transparent 6.7796610169%, transparent 8.4745762712%, #eee 8.4745762712%, #eee 15.2542372881%, transparent 15.2542372881%, transparent 16.9491525424%, #eee 16.9491525424%, #eee 23.7288135593%, transparent 23.7288135593%, transparent 25.4237288136%, #eee 25.4237288136%, #eee 32.2033898305%, transparent 32.2033898305%, transparent 33.8983050847%, #eee 33.8983050847%, #eee 40.6779661017%, transparent 40.6779661017%, transparent 42.3728813559%, #eee 42.3728813559%, #eee 49.1525423729%, transparent 49.1525423729%, transparent 50.8474576271%, #eee 50.8474576271%, #eee 57.6271186441%, transparent 57.6271186441%, transparent 59.3220338983%, #eee 59.3220338983%, #eee 66.1016949153%, transparent 66.1016949153%, transparent 67.7966101695%, #eee 67.7966101695%, #eee 74.5762711864%, transparent 74.5762711864%, transparent 76.2711864407%, #eee 76.2711864407%, #eee 83.0508474576%, transparent 83.0508474576%, transparent 84.7457627119%, #eee 84.7457627119%, #eee 91.5254237288%, transparent 91.5254237288%, transparent 93.2203389831%, #eee 93.2203389831%, #eee 100%, transparent 100%);
      background-image: -moz-linear-gradient(left, transparent 0, #eee 0, #eee 6.7796610169%, transparent 6.7796610169%, transparent 8.4745762712%, #eee 8.4745762712%, #eee 15.2542372881%, transparent 15.2542372881%, transparent 16.9491525424%, #eee 16.9491525424%, #eee 23.7288135593%, transparent 23.7288135593%, transparent 25.4237288136%, #eee 25.4237288136%, #eee 32.2033898305%, transparent 32.2033898305%, transparent 33.8983050847%, #eee 33.8983050847%, #eee 40.6779661017%, transparent 40.6779661017%, transparent 42.3728813559%, #eee 42.3728813559%, #eee 49.1525423729%, transparent 49.1525423729%, transparent 50.8474576271%, #eee 50.8474576271%, #eee 57.6271186441%, transparent 57.6271186441%, transparent 59.3220338983%, #eee 59.3220338983%, #eee 66.1016949153%, transparent 66.1016949153%, transparent 67.7966101695%, #eee 67.7966101695%, #eee 74.5762711864%, transparent 74.5762711864%, transparent 76.2711864407%, #eee 76.2711864407%, #eee 83.0508474576%, transparent 83.0508474576%, transparent 84.7457627119%, #eee 84.7457627119%, #eee 91.5254237288%, transparent 91.5254237288%, transparent 93.2203389831%, #eee 93.2203389831%, #eee 100%, transparent 100%);
      background-image: -ms-linear-gradient(left, transparent 0, #eee 0, #eee 6.7796610169%, transparent 6.7796610169%, transparent 8.4745762712%, #eee 8.4745762712%, #eee 15.2542372881%, transparent 15.2542372881%, transparent 16.9491525424%, #eee 16.9491525424%, #eee 23.7288135593%, transparent 23.7288135593%, transparent 25.4237288136%, #eee 25.4237288136%, #eee 32.2033898305%, transparent 32.2033898305%, transparent 33.8983050847%, #eee 33.8983050847%, #eee 40.6779661017%, transparent 40.6779661017%, transparent 42.3728813559%, #eee 42.3728813559%, #eee 49.1525423729%, transparent 49.1525423729%, transparent 50.8474576271%, #eee 50.8474576271%, #eee 57.6271186441%, transparent 57.6271186441%, transparent 59.3220338983%, #eee 59.3220338983%, #eee 66.1016949153%, transparent 66.1016949153%, transparent 67.7966101695%, #eee 67.7966101695%, #eee 74.5762711864%, transparent 74.5762711864%, transparent 76.2711864407%, #eee 76.2711864407%, #eee 83.0508474576%, transparent 83.0508474576%, transparent 84.7457627119%, #eee 84.7457627119%, #eee 91.5254237288%, transparent 91.5254237288%, transparent 93.2203389831%, #eee 93.2203389831%, #eee 100%, transparent 100%);
      background-image: -o-linear-gradient(left, transparent 0, #eee 0, #eee 6.7796610169%, transparent 6.7796610169%, transparent 8.4745762712%, #eee 8.4745762712%, #eee 15.2542372881%, transparent 15.2542372881%, transparent 16.9491525424%, #eee 16.9491525424%, #eee 23.7288135593%, transparent 23.7288135593%, transparent 25.4237288136%, #eee 25.4237288136%, #eee 32.2033898305%, transparent 32.2033898305%, transparent 33.8983050847%, #eee 33.8983050847%, #eee 40.6779661017%, transparent 40.6779661017%, transparent 42.3728813559%, #eee 42.3728813559%, #eee 49.1525423729%, transparent 49.1525423729%, transparent 50.8474576271%, #eee 50.8474576271%, #eee 57.6271186441%, transparent 57.6271186441%, transparent 59.3220338983%, #eee 59.3220338983%, #eee 66.1016949153%, transparent 66.1016949153%, transparent 67.7966101695%, #eee 67.7966101695%, #eee 74.5762711864%, transparent 74.5762711864%, transparent 76.2711864407%, #eee 76.2711864407%, #eee 83.0508474576%, transparent 83.0508474576%, transparent 84.7457627119%, #eee 84.7457627119%, #eee 91.5254237288%, transparent 91.5254237288%, transparent 93.2203389831%, #eee 93.2203389831%, #eee 100%, transparent 100%);
      background-image: linear-gradient(to left, transparent 0, #eee 0, #eee 6.7796610169%, transparent 6.7796610169%, transparent 8.4745762712%, #eee 8.4745762712%, #eee 15.2542372881%, transparent 15.2542372881%, transparent 16.9491525424%, #eee 16.9491525424%, #eee 23.7288135593%, transparent 23.7288135593%, transparent 25.4237288136%, #eee 25.4237288136%, #eee 32.2033898305%, transparent 32.2033898305%, transparent 33.8983050847%, #eee 33.8983050847%, #eee 40.6779661017%, transparent 40.6779661017%, transparent 42.3728813559%, #eee 42.3728813559%, #eee 49.1525423729%, transparent 49.1525423729%, transparent 50.8474576271%, #eee 50.8474576271%, #eee 57.6271186441%, transparent 57.6271186441%, transparent 59.3220338983%, #eee 59.3220338983%, #eee 66.1016949153%, transparent 66.1016949153%, transparent 67.7966101695%, #eee 67.7966101695%, #eee 74.5762711864%, transparent 74.5762711864%, transparent 76.2711864407%, #eee 76.2711864407%, #eee 83.0508474576%, transparent 83.0508474576%, transparent 84.7457627119%, #eee 84.7457627119%, #eee 91.5254237288%, transparent 91.5254237288%, transparent 93.2203389831%, #eee 93.2203389831%, #eee 100%, transparent 100%); } }
  @media screen and (min-width: 1025px) {
    body:before {
      background-image: -webkit-linear-gradient(left, transparent 0, #eee 0, #eee 6.7796610169%, transparent 6.7796610169%, transparent 8.4745762712%, #eee 8.4745762712%, #eee 15.2542372881%, transparent 15.2542372881%, transparent 16.9491525424%, #eee 16.9491525424%, #eee 23.7288135593%, transparent 23.7288135593%, transparent 25.4237288136%, #eee 25.4237288136%, #eee 32.2033898305%, transparent 32.2033898305%, transparent 33.8983050847%, #eee 33.8983050847%, #eee 40.6779661017%, transparent 40.6779661017%, transparent 42.3728813559%, #eee 42.3728813559%, #eee 49.1525423729%, transparent 49.1525423729%, transparent 50.8474576271%, #eee 50.8474576271%, #eee 57.6271186441%, transparent 57.6271186441%, transparent 59.3220338983%, #eee 59.3220338983%, #eee 66.1016949153%, transparent 66.1016949153%, transparent 67.7966101695%, #eee 67.7966101695%, #eee 74.5762711864%, transparent 74.5762711864%, transparent 76.2711864407%, #eee 76.2711864407%, #eee 83.0508474576%, transparent 83.0508474576%, transparent 84.7457627119%, #eee 84.7457627119%, #eee 91.5254237288%, transparent 91.5254237288%, transparent 93.2203389831%, #eee 93.2203389831%, #eee 100%, transparent 100%);
      background-image: -moz-linear-gradient(left, transparent 0, #eee 0, #eee 6.7796610169%, transparent 6.7796610169%, transparent 8.4745762712%, #eee 8.4745762712%, #eee 15.2542372881%, transparent 15.2542372881%, transparent 16.9491525424%, #eee 16.9491525424%, #eee 23.7288135593%, transparent 23.7288135593%, transparent 25.4237288136%, #eee 25.4237288136%, #eee 32.2033898305%, transparent 32.2033898305%, transparent 33.8983050847%, #eee 33.8983050847%, #eee 40.6779661017%, transparent 40.6779661017%, transparent 42.3728813559%, #eee 42.3728813559%, #eee 49.1525423729%, transparent 49.1525423729%, transparent 50.8474576271%, #eee 50.8474576271%, #eee 57.6271186441%, transparent 57.6271186441%, transparent 59.3220338983%, #eee 59.3220338983%, #eee 66.1016949153%, transparent 66.1016949153%, transparent 67.7966101695%, #eee 67.7966101695%, #eee 74.5762711864%, transparent 74.5762711864%, transparent 76.2711864407%, #eee 76.2711864407%, #eee 83.0508474576%, transparent 83.0508474576%, transparent 84.7457627119%, #eee 84.7457627119%, #eee 91.5254237288%, transparent 91.5254237288%, transparent 93.2203389831%, #eee 93.2203389831%, #eee 100%, transparent 100%);
      background-image: -ms-linear-gradient(left, transparent 0, #eee 0, #eee 6.7796610169%, transparent 6.7796610169%, transparent 8.4745762712%, #eee 8.4745762712%, #eee 15.2542372881%, transparent 15.2542372881%, transparent 16.9491525424%, #eee 16.9491525424%, #eee 23.7288135593%, transparent 23.7288135593%, transparent 25.4237288136%, #eee 25.4237288136%, #eee 32.2033898305%, transparent 32.2033898305%, transparent 33.8983050847%, #eee 33.8983050847%, #eee 40.6779661017%, transparent 40.6779661017%, transparent 42.3728813559%, #eee 42.3728813559%, #eee 49.1525423729%, transparent 49.1525423729%, transparent 50.8474576271%, #eee 50.8474576271%, #eee 57.6271186441%, transparent 57.6271186441%, transparent 59.3220338983%, #eee 59.3220338983%, #eee 66.1016949153%, transparent 66.1016949153%, transparent 67.7966101695%, #eee 67.7966101695%, #eee 74.5762711864%, transparent 74.5762711864%, transparent 76.2711864407%, #eee 76.2711864407%, #eee 83.0508474576%, transparent 83.0508474576%, transparent 84.7457627119%, #eee 84.7457627119%, #eee 91.5254237288%, transparent 91.5254237288%, transparent 93.2203389831%, #eee 93.2203389831%, #eee 100%, transparent 100%);
      background-image: -o-linear-gradient(left, transparent 0, #eee 0, #eee 6.7796610169%, transparent 6.7796610169%, transparent 8.4745762712%, #eee 8.4745762712%, #eee 15.2542372881%, transparent 15.2542372881%, transparent 16.9491525424%, #eee 16.9491525424%, #eee 23.7288135593%, transparent 23.7288135593%, transparent 25.4237288136%, #eee 25.4237288136%, #eee 32.2033898305%, transparent 32.2033898305%, transparent 33.8983050847%, #eee 33.8983050847%, #eee 40.6779661017%, transparent 40.6779661017%, transparent 42.3728813559%, #eee 42.3728813559%, #eee 49.1525423729%, transparent 49.1525423729%, transparent 50.8474576271%, #eee 50.8474576271%, #eee 57.6271186441%, transparent 57.6271186441%, transparent 59.3220338983%, #eee 59.3220338983%, #eee 66.1016949153%, transparent 66.1016949153%, transparent 67.7966101695%, #eee 67.7966101695%, #eee 74.5762711864%, transparent 74.5762711864%, transparent 76.2711864407%, #eee 76.2711864407%, #eee 83.0508474576%, transparent 83.0508474576%, transparent 84.7457627119%, #eee 84.7457627119%, #eee 91.5254237288%, transparent 91.5254237288%, transparent 93.2203389831%, #eee 93.2203389831%, #eee 100%, transparent 100%);
      background-image: linear-gradient(to left, transparent 0, #eee 0, #eee 6.7796610169%, transparent 6.7796610169%, transparent 8.4745762712%, #eee 8.4745762712%, #eee 15.2542372881%, transparent 15.2542372881%, transparent 16.9491525424%, #eee 16.9491525424%, #eee 23.7288135593%, transparent 23.7288135593%, transparent 25.4237288136%, #eee 25.4237288136%, #eee 32.2033898305%, transparent 32.2033898305%, transparent 33.8983050847%, #eee 33.8983050847%, #eee 40.6779661017%, transparent 40.6779661017%, transparent 42.3728813559%, #eee 42.3728813559%, #eee 49.1525423729%, transparent 49.1525423729%, transparent 50.8474576271%, #eee 50.8474576271%, #eee 57.6271186441%, transparent 57.6271186441%, transparent 59.3220338983%, #eee 59.3220338983%, #eee 66.1016949153%, transparent 66.1016949153%, transparent 67.7966101695%, #eee 67.7966101695%, #eee 74.5762711864%, transparent 74.5762711864%, transparent 76.2711864407%, #eee 76.2711864407%, #eee 83.0508474576%, transparent 83.0508474576%, transparent 84.7457627119%, #eee 84.7457627119%, #eee 91.5254237288%, transparent 91.5254237288%, transparent 93.2203389831%, #eee 93.2203389831%, #eee 100%, transparent 100%); } }

/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?m6t3mj");
  src: url("../fonts/icomoon/icomoon.eot?m6t3mj#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?m6t3mj") format("truetype"), url("../fonts/icomoon/icomoon.woff?m6t3mj") format("woff"), url("../fonts/icomoon/icomoon.svg?m6t3mj#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change ../fonts/icomoon */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-insta:before {
  content: "\e803"; }

.icon-arrow:before {
  content: "\e800"; }

.icon-facebook:before {
  content: "\e801"; }

.icon-vegapix:before {
  content: "\e802"; }

.form label {
  margin: 0;
  padding: 11px 16px 0 0;
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: 700;
  color: #1b1d21; }

.form fieldset {
  margin-top: 0;
  margin-bottom: 20px;
  padding: 0;
  display: block;
  position: relative;
  border: none; }
  .form fieldset small {
    margin: 0;
    padding: 7px 8px 3px;
    font-size: 1.1rem;
    line-height: 1.4rem;
    color: #FFF;
    border-color: #E74C3C;
    background-color: #E74C3C;
    display: block;
    position: relative;
    top: -4px;
    opacity: 0;
    filter: alpha(opacity=0);
    height: 0;
    -webkit-transition: all, 0.2s, ease-in-out;
    -moz-transition: all, 0.2s, ease-in-out;
    transition: all, 0.2s, ease-in-out;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px; }
  .form fieldset.cmp-btns {
    padding-top: 23px; }

.form input:not([type="radio"]):not([type="checkbox"]), .form textarea, .form select {
  margin: 0;
  padding: 0 10px;
  display: block;
  width: 100%;
  height: 50px;
  font-size: 1.3rem;
  line-height: 3.20rem;
  color: #32363d;
  border: 1px solid #494e59;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
  outline: 0 none;
  z-index: 1;
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

.form textarea {
  padding: 0 0 0 10px;
  resize: none;
  min-height: 200px;
  overflow-y: auto; }

.form input[type="search"] {
  -webkit-padding-start: 0; }

.form .radio {
  width: 100%;
  padding: 8px 0 0; }
  .form .radio > span {
    width: auto;
    margin: 1rem 2rem 1rem 0;
    padding: 0;
    display: inline-block;
    position: relative;
    top: 0;
    left: 0; }
    @media screen and (min-device-width: 320px) and (max-device-width: 640px) {
      .form .radio > span {
        margin: 0 0 20px; } }
    .form .radio > span label {
      width: 100%;
      height: auto;
      margin: 0;
      padding: 0 0 0 2.8rem;
      font-size: 1.3rem;
      line-height: 2rem;
      cursor: pointer;
      display: block;
      position: relative;
      left: 0;
      top: 0;
      z-index: 1;
      color: #ffcb08; }
    .form .radio > span input[type="radio"] {
      width: 18px;
      height: 18px;
      border: none;
      position: absolute;
      top: 1px;
      left: 1px; }
      .form .radio > span input[type="radio"] + label:before {
        margin: 0;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        border: 0.2rem solid #494e59;
        background: #FFF;
        cursor: pointer;
        display: inline-block;
        width: 20px;
        height: 20px;
        text-align: center;
        font-size: 0.9rem;
        line-height: 1.3rem;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        -webkit-transition: all 0.1s linear 0.1s;
        -moz-transition: all 0.1s linear 0.1s;
        transition: all 0.1s linear 0.1s; }
      .form .radio > span input[type="radio"]:checked + label:before {
        background: #FFF;
        border: 0.7rem solid #494e59; }
  .form .radio small {
    top: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px; }

.form .checkbox {
  width: 100%;
  padding: 8px 0 0; }
  .form .checkbox > span {
    width: auto;
    margin: 0 0 10px;
    padding: 0;
    display: block;
    position: relative;
    top: 0;
    left: 0; }
    @media screen and (min-device-width: 320px) and (max-device-width: 640px) {
      .form .checkbox > span {
        margin: 0 0 20px; } }
    .form .checkbox > span label {
      width: 100%;
      height: auto;
      margin: 0;
      padding: 0 0 0 32px;
      font-size: 1.0rem;
      line-height: 1.4rem;
      cursor: pointer;
      display: block;
      position: relative;
      left: 0;
      top: 0;
      z-index: 1;
      color: #797979; }
    .form .checkbox > span input[type="checkbox"] {
      width: 18px;
      height: 20px;
      border: none;
      position: absolute;
      border-right: none; }
      .form .checkbox > span input[type="checkbox"] + label:before {
        margin: 0;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        background-color: #494e59;
        cursor: pointer;
        display: inline-block;
        width: 20px;
        height: 20px;
        text-align: center;
        font-size: 0.9rem;
        line-height: 1.3rem;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        -webkit-transition: all 0.1s linear 0.1s;
        -moz-transition: all 0.1s linear 0.1s;
        transition: all 0.1s linear 0.1s; }
      .form .checkbox > span input[type="checkbox"]:checked + label:before {
        content: '\2714';
        color: #1b1d21;
        -webkit-transition: all 0.2s linear 0s;
        -moz-transition: all 0.2s linear 0s;
        transition: all 0.2s linear 0s; }
  .form .checkbox small {
    top: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px; }

.form .switch {
  width: 100%;
  padding: 8px 0 0; }
  .form .switch > span {
    width: auto;
    margin: 0 0 10px;
    padding: 0;
    display: block;
    position: relative;
    top: 0;
    left: 0; }
    .form .switch > span label {
      width: 100%;
      height: auto;
      margin: 0;
      padding: 0 0 0 60px;
      line-height: 2.4rem;
      cursor: pointer;
      display: block;
      position: relative;
      left: 0;
      top: 0;
      z-index: 1;
      font-size: 1.7rem !important; }
    .form .switch > span input[type="checkbox"] {
      width: 18px;
      height: 25px;
      border: none;
      position: absolute;
      border-right: none; }
      .form .switch > span input[type="checkbox"] + label:before,
      .form .switch > span input[type="checkbox"] + label:after {
        margin: 0;
        content: '';
        position: absolute;
        display: block;
        left: 0;
        top: 0;
        background: black;
        bottom: 0;
        width: 50px;
        height: 25px;
        box-shadow: inset 0 3px 1px rgba(0, 0, 0, 0.3);
        border-bottom: 1px solid #fff;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        -webkit-transition: all 0.1s linear 0.1s;
        -moz-transition: all 0.1s linear 0.1s;
        transition: all 0.1s linear 0.1s; }
      .form .switch > span input[type="checkbox"] + label:after {
        width: 22px;
        height: 20px;
        top: 2px;
        bottom: 2px;
        margin-left: 2px;
        background-color: #f1f1f1;
        box-shadow: inset 0 -3px 1px rgba(0, 0, 0, 0.2);
        border-bottom: none;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px; }
      .form .switch > span input[type="checkbox"]:checked + label:after {
        margin-left: 26px;
        box-shadow: inset 0 -3px 1px rgba(0, 0, 0, 0.4); }

.form .select {
  margin: 0;
  padding: 0;
  position: relative;
  display: block;
  width: 100%;
  right: 0;
  top: 0;
  height: 50px;
  background: #FFF;
  overflow: hidden;
  border: 1px solid #494e59; }
  .form .select:after {
    margin: 0;
    padding: 0;
    content: '\25be';
    color: #999;
    line-height: 3.20rem;
    text-align: center;
    right: 0;
    top: 0;
    background: #FFF;
    width: 48px;
    height: 48px;
    border-left: 1px solid #F1F1F1;
    position: absolute;
    pointer-events: none;
    z-index: 1; }
  .form .select select {
    padding: 10px;
    padding-top: 11px;
    background-color: #FFF;
    -webkit-padding-before: 0;
    -webkit-padding-start: 6px;
    width: 100%;
    height: 48px;
    font-family: sans-serif;
    font-size: 1.0rem;
    line-height: 3.20rem;
    color: #999;
    border: none;
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer; }
  .form .select option {
    padding: 10px;
    border-bottom: 1px  solid #F2F2F2; }
  .form .select optgroup {
    padding: 0 10px;
    color: #000;
    background-color: #FFF; }
  .form .select optgroup[label] {
    padding-top: 10px;
    background-color: #FFF;
    font-style: normal; }
  .form .select optgroup option {
    border-bottom: 1px solid #F2F2F2;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 40px; }
  .form .select optgroup option:first-child {
    margin: 10px 0 0 0;
    border-top: 1px solid #F2F2F2; }

.form .loading {
  padding-right: 46px;
  background-color: #25A35A;
  position: relative;
  cursor: default;
  color: #FFF; }

.form .loading:hover {
  background-color: #25A35A; }

.form .loading:after {
  margin: -10px 0 0 0;
  content: '';
  width: 20px;
  height: 20px;
  background: transparent url("../img/loading.png") no-repeat 0 0;
  position: absolute;
  top: 50%;
  right: 16px;
  -webkit-animation: spinner 1.0s infinite linear reverse;
  animation: spinner 1.0s infinite linear reverse; }

.form .successful {
  padding-right: 46px;
  background-color: #25A35A;
  position: relative;
  cursor: default;
  color: #FFF; }

.form .successful:hover {
  border-color: #25A35A;
  background-color: #25A35A; }

.form .successful:after {
  content: '\2714';
  width: 20px;
  height: 20px;
  font-size: 14px;
  line-height: 30px;
  position: absolute;
  top: 10px;
  right: 16px; }

.form .failure {
  padding-right: 46px;
  background-color: #E74C3C;
  position: relative;
  cursor: default;
  color: #FFF; }

.form .failure:after {
  content: '\00D7';
  width: 20px;
  height: 20px;
  font-size: 20px;
  line-height: 30px;
  position: absolute;
  top: 10px;
  right: 16px; }

.form .failure:hover {
  background-color: #E74C3C;
  border-color: #E74C3C; }

@keyframes spinner {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg); }
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg); } }

@-webkit-keyframes spinner {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg); }
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg); } }

.form input:not(:focus):invalid {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

.form input.invalido, .form .select.invalido, .form input[type="checkbox"].invalido + label:before, .form input[type="radio"].invalido + label:before {
  color: #E74C3C;
  border: 2px solid #E74C3C;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

.form input.invalido::-webkit-input-placeholder,
.form input.invalido:-moz-placeholder,
.form input.invalido::-moz-placeholder,
.form input.invalido:-ms-input-placeholder {
  color: #E74C3C;
  opacity: 1; }

.form input.invalido + small, .form .select.invalido + small, .form .checkbox.invalido small, .form .radio.invalido small {
  opacity: 1;
  height: 20px;
  filter: alpha(opacity=100); }

.form ::-webkit-input-placeholder {
  color: #333;
  opacity: .5; }

.form :-moz-placeholder {
  color: #333;
  opacity: .5; }

.form ::-moz-placeholder {
  color: #333;
  opacity: .5; }

.form :-ms-input-placeholder {
  color: #333;
  opacity: .5; }

.form :focus::-webkit-input-placeholder {
  color: #333;
  opacity: 1; }

.form :focus:-moz-placeholder {
  color: #333;
  opacity: 1; }

.form :focus::-moz-placeholder {
  color: #333;
  opacity: 1; }

.form :focus:-ms-input-placeholder {
  color: #333;
  opacity: 1; }

.form input:focus {
  color: #000;
  border-color: #999;
  outline: none; }

.form textarea:focus {
  color: #000;
  border-color: #999;
  outline: none; }

.form select:focus {
  color: #000;
  border-color: #999;
  outline: none; }

.container {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto; }
  .container::after {
    clear: both;
    content: "";
    display: table; }
  .container .navbar-nav, .container .content {
    float: left;
    display: block;
    margin-right: 1.6949152542%;
    width: 100%; }
    .container .navbar-nav:last-child, .container .content:last-child {
      margin-right: 0; }
